
<div class="todo"> 
  <div>
    <h1>{{ rap.nombre}}</h1>
    <p>Edad: {{ rap.edad}}</p>
    <p>Origen: {{ rap.origen}}</p>
    <img class="fotos" src="{{ rap.src }}" alt="{{ rap.nombre }}" />
    <div class="botones">
    <button class="button" routerLink="/albums">Volver</button>
    <button class="button" (click)="deleteCantante()">Borrar</button>
    </div>
  </div>

  <!-- <div>
    <h1>{{ bossa.nombre }}</h1>
    <p>Edad: {{ bossa.edad }}</p>
    <p>Origen: {{ bossa.origen }}</p>
    <img class="fotos" src="{{ bossa.src }}" alt="{{ bossa.nombre }}" />
  </div>

  <div>
    <h1>{{ pop.nombre }}</h1>
    <p>Edad: {{ pop.edad }}</p>
    <p>Origen: {{ pop.origen }}</p>
    <img class="fotos" src="{{ pop.src }}" alt="{{ pop.nombre }}" />
  </div> -->
</div>
