h1{
    color: white;
    font-size: 100px;
}

.lore{
    font-size: larger;
}

.artista{
    /* display: flex;
    justify-content: center; */
}

.button{
    background-color: #5bc0de;
    width: 6%;
    border-radius: 5px;
    color: white;
}

.fotos{
    height: 800px;
}

.todo{
    display: flex;
    flex-flow: wrap column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

p{
    color: white;
}
