
<!-- <div class="todo"> -->
  <div>
    <h1>{{ rap.nombre || bossa.nombre || pop.nombre }}</h1>
    <p>Edad: {{ rap.edad || bossa.edad || pop.edad }}</p>
    <p>Origen: {{ rap.origen || bossa.origen || pop.origen }}</p>
    <img class="fotos" src="{{ rap.src || bossa.src || pop.src }}" alt="{{ rap.nombre || bossa.nombre || pop.nombre }}" />
    <button class="button" routerLink="/albums">Volver</button>
  </div>

  <!-- <div>
    <h1>{{ bossa.nombre }}</h1>
    <p>Edad: {{ bossa.edad }}</p>
    <p>Origen: {{ bossa.origen }}</p>
    <img class="fotos" src="{{ bossa.src }}" alt="{{ bossa.nombre }}" />
  </div>

  <div>
    <h1>{{ pop.nombre }}</h1>
    <p>Edad: {{ pop.edad }}</p>
    <p>Origen: {{ pop.origen }}</p>
    <img class="fotos" src="{{ pop.src }}" alt="{{ pop.nombre }}" />
  </div> -->
<!-- </div> -->
