<div class="albums">
  <p class="separador"></p>
  <h1 class="titulo">RAP</h1>
  <p class="separador"></p>

  <ul>
    <li *ngFor="let album of listaRap">
      <button class="button" routerLink="/albums/{{ album.id }}">Detalles</button>
      <div class="artista">
        <h1>{{ album.nombre }}</h1>
        <div>
          <p>Edad: {{ album.edad }}</p>
          <p>Origen: {{ album.origen }}</p>
          <img class="fotos" src="{{ album.src }}" alt="{{ album.nombre }}" />
        </div>
        <div class="botones">
        <button class="button" (click)="editarCantante(album)">Editar</button>
      </div>
      </div>
    </li>
  </ul>
</div>
