<div class="albums"></div>
<p class="separador"></p>
<h1 class="titulo">RAP</h1>
<p class="separador"></p>

<ul>
  <li *ngFor="let album of listaRap ">
    <button routerLink="/albums/{{ album.id }}">Detalles</button>
      <div class="artista">
      <h1>{{album.nombre}}</h1>
      <div>
          <p>Edad: {{album.edad}}</p>
          <p>Origen: {{album.origen}}</p>
          <img class="fotos" src="{{album.src}}" alt="{{album.nombre}}">
      </div>
      <button class="button" (click)="deleteCantante()">
        DELETE
      </button>
      <button class="button" (click)="editarCantante(albums)">
        EDITAR
      </button>
      </div>
  </li>
</ul>

<div class="albums"></div>
<p class="separador"></p>
<h1 class="titulo">BOSSA NOVA</h1>
<p class="separador"></p>

<ul>
  <li *ngFor="let bn of listaBosaNova ">
    <button routerLink="/albums/{{ bn.id }}">Detalles</button>
      <div class="artista">
      <h1>{{bn.nombre}}</h1>
      <div>
          <p>Edad: {{bn.edad}}</p>
          <p>Origen: {{bn.origen}}</p>
          <img class="fotos" src="{{bn.src}}" alt="{{bn.nombre}}">
      </div>
      <button class="button" (click)="deleteCantante()">
        DELETE
      </button>
      <button class="button" (click)="editarCantante(albums)">
        EDITAR
      </button>
      </div>
  </li>
</ul>

<div class="albums"></div>
<p class="separador"></p>
<h1 class="titulo">POP</h1>
<p class="separador"></p>
<ul>
  <li *ngFor="let pop of listaPop ">
    <button routerLink="/albums/{{ pop.id }}">Detalles</button>
      <div class="artista">
      <h1>{{pop.nombre}}</h1>
      <div>
          <p>Edad: {{pop.edad}}</p>
          <p>Origen: {{pop.origen}}</p>
          <img class="fotos" src="{{pop.src}}" alt="{{pop.nombre}}"/>
        </div>
        <button class="button" (click)="deleteCantante()">
          DELETE
        </button>
        <button class="button" (click)="editarCantante(albums)">
          EDITAR
        </button>
      </div>
    </li>
  </ul>

