.artista{
    color: white;
    border: white 1px solid;
    width: 350px;
}

ul{
     /* padding: 50px;  */
    margin-top: 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    gap: 30px;
}
li{
    /* width: 50vw;
    height: 20vh; */
    margin-top: 30px;
}

.fotos{
    margin-top: 20px;
    width: 100%;
    height: 300px;
}

/* button{
    color: white;
    background-color: green;
} */

.titulo{
    font-size: 100px;
    /* color: white; */
    border: solid white 2px;
    background-color: white;
    margin: 100px 0 100px 0;
}

.albums{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

.separador{
    border: 1px solid white;
    height: 1px;
    width: 400px;
}