/* h1{
    color: white
} */
p{
    /* margin-left: 120px;
    margin-right: 120px; */
    color: white;
    font-size: 20px;
}

.cuerpo{
    display: flex;
    justify-content: center;
    /* font-size: medium; */
    padding-left: 200px;
    padding-right: 200px;
    gap: 50px;
}

.grande{
    font-size: 100px;
    color: white;
}

div{
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    align-items: center;
    color: white;
    font-size: 100px;
}

.home{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    text-align: start;
    gap: 50px;
}

.imagen{
    width: 50%;
    height: 40%;
    /* margin: 50px 0 50px 0; */
}